html, body {
  height: 100%;
}

.academy-logo {
  display: block;
  width: 400px;
  float: right;
  margin: 20px;
}

.mayden-logo {
  display: block;
  width: 300px;
  margin: 20px;
}


.logo-bar {
  background-color: #ffffff;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -115px;
}

.page-wrap:after {
  content: "";
  display: block;
}
.logo-footer, .page-wrap:after {
  height: 115px;
}