.academy-logo {
  display: block;
  width: 400px;
  float: right;
  margin: 20px;
}

.mayden-logo {
  display: block;
  width: 300px;
  margin: 20px;
}

.logo-bottom {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}