html, body {
  height: 100%;
}

.academy-logo {
  display: block;
  width: 400px;
  float: right;
  margin: 20px;
}

.mayden-logo {
  display: block;
  width: 300px;
  margin: 20px;
}

.logo-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0;
}

.logo-bar {
  background-color: #ffffff;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}