$purple5-color: #8d0377;
$orange5-color: #c63806;
$slateblue3-color: #accddd;
$slateblue4-color: #085e8e;
$tealblue5-color: #0b7384;
$grey2-color: #d6d6d6;

$unanswered-color: $orange5-color;

$answered-color: $slateblue4-color;

$main-button-color: $purple5-color;
$main-button-hover: $orange5-color;