$unanswered-color: #e66060;
$answered-color: #698dc9;
$main-background-color: #ffffff;
$table-border: #ccc;
$table-box-shadow: #000;

$light-red:#ff6340;
$light-orange:#f27324;
$light-green:#94ba66;
$light-purple:#d2b4f9;
