$unanswered-color: #e66060;

$answered-color: #698dc9;
$gray3-color: #ababab;


$purple5-color: #8d0377;
$orange5-color: #c63806;
$tealblue6-color: #045866;
$green4-color: #53a00a;

$main-button-color: $purple5-color;
$main-button-hover: $orange5-color;
$result-table-border: $gray3-color;
$error-message: $orange5-color;