@import 'imports/variables';

* {
  box-sizing: border-box;

  .container {
    border: 5px solid red;

    textarea {
      resize: vertical;
    }

    .dropdown {
      margin: 2% 0;
    }

    .question {
      margin: 5%;
      width: 90%;
    }

    .option {
      margin: 1% 5%;
      width: 90%;
    }

    .submit-button {
      text-align: center;
      .addQuestion {
        border-style: none;
        margin: 3%;
      }
    }

    .addQuestion{
      width: 10%;
      background-color: $primary-button;
      color: #fff;
      transition: .5s;

      &:hover {
        background-color: $primary-button-hover;
      }
    }

  }
}


