@import "imports/variables";

body {
  table {
    font-size: 5.5rem;
    .edit-user-button {
      background-color: $edit-button;
      color: $main-background-color;
    }
    .delete-user-button {
      background-color: $primary-button-hover;
      color: $main-background-color;
    }
  }
}