@import "imports/variables";

body {
  .container {

    .display-flex {
      display: flex;
      align-items: center;

      input {
        margin: 0 0.5rem;

        &.primary-button {
          font-size: 1.4rem;
          color: $main-background-color;
        }
      }
    }

    .score-container {
      margin-top: 5rem;

      .filterContainer {

        label {
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }

    .dropdown {
      height: 34px;
      margin-right: 0.5rem;
    }

    .table {
      font-size: 5.5rem;

      .edit-user-button, .delete-user-button {
        color: $main-background-color;
      }

      .edit-user-button {
        background-color: $edit-button;
      }

      .delete-user-button {
        background-color: $primary-button-hover;
      }

      .email {
        border-right: 1px solid $table-border;
      }

      &.user-score-table {
          margin-top: 4rem;
        tbody {

          tr {

            td {
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}