@import "imports/variables";

table {
  table-layout: fixed;
  width: 100%
}

.questionText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.colBtn{
  width: 160px;
}

.colNum{
 width: max-content;
}
