@import "imports/variables";

.logoContainer {
  justify-content: flex-end;
}

.tableContainer {

  .search-filter-container {
    height: 120px;
  }
}

.table {
  table-layout: fixed;

  .edit-question, .delete-question {
    color: $main-background-color;
  }

  .edit-question {
    background-color: $edit-button;
  }

  .delete-question {
    background-color: $primary-button-hover;
  }
}

.questionText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.colBtn {
  width: 150px;
}

.colNum {
 width: 75px;
}

