@import "imports/variables";

.logoContainer{
  justify-content: flex-end;
}
table {
  table-layout: fixed;
  width: 100%
}

.questionText {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.colBtn {
  width: 200px;
}

.colNum {
 width: 75px;
}

