@import "imports/variables";

* {
  box-sizing: border-box;
  body {
    font-family: 'Asap', sans-serif;
  }
}

.logo {
  width: 300px;
  float: right;
  margin: 1%;
}

.start-button {
  width: 110px;
  background: $primary-button;
  border: 1px solid #fff;
  color: #fff;
  font-size: 15px;
  padding: 6px 20px;
  text-decoration: none;
  transition: .5s;
}

.start-button:hover {
  $secondary-button-hover: #f27324;
}







