@import "imports/variables";
@import "imports/modal";

body {
  padding-bottom: 150px;
  @include bodyFontStyles;
}

.left {
  float: left
}

.right {
  float: right;
}

.instructions-button {
  @include buttonsMetaCapsFontStyles;
  margin-top: 49px;
  background-color: $primary-button;
  border: none;
  &:hover{
    background-color: $primary-button-hover;
  }
}

.logo {
  width: 300px;
  height: 100px;
  padding: 25px;
  float: right;
  margin: 10px;
}

.modal-body {
  p {
    text-align: center;
  }
}

.timer {
  float: right;
}

.test-top-row {
  display: flex;
  justify-content: space-between;
}

.question {
  position: relative;
  background-color: $main-background-color;
  width: 100%;
  padding: 30px;
  text-align: left;
  display: none;
}

.answers {
  p {
    display: block;
  }
}

.textBox {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  textarea {
    resize: none;
  }
}

h4, p {
  font-size: 1.5rem;
}

html body h2 {
  font-size: 2.8rem;
}

#question-counter {
  margin-left: 8px;
}

.modify-question-container {
  height: 100%;
  border: $primary-button solid 2px;
}

.question-nav {
  height: 60px;
  margin: 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
}

.question-nav div {
  position: relative;
  width: 90%;
  padding: 8px 0 32px;
  color: $white;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
}

.flag {
  position: absolute;
  bottom: 8px;
  top: auto;
  left: 50%;
  transform: translate(-50%);
}

.question-nav p {
  display: inline;
}

.active {
  display: block;
}

img {
  max-width: 100%;
}

.answers input {
  margin: 0 10px;
}

.prev,
.next {
  width: 60%;
  background-color: $primary-button;
  transition: .5s;
  border: none;

  &:hover {
    background-color: $primary-button-hover;
  }
}

.question-nav-controls {
  position: fixed;
  background-color: white;
  bottom: 0;
  padding: 20px 0;
  width: 100%;

  .container {
    border:  2px solid $primary-button;
    padding: 20px 0;
  }
}

.nav-buttons {
  text-align: center;

  button {
    width: 90%;
    @include buttonsMetaCapsFontStyles;
  }
}

.overview {
  visibility: hidden;
  text-transform: uppercase;
  letter-spacing: 2px;
  border: none;
  background-color: $overview-button;

  &:hover,
  &:focus,
  &:active:hover,
  &:active {
    background-color: $overview-button-hover;
  }
}

.error_message {
  text-align: center;
  font-size: large;
  color: $purple-error-message;
  display: flex;
  flex-direction: column;
}

#flag-checkbox {
  display: none;
}

#flag-button {
  color: $flag-color;
  border: 2px solid $flag-color;
  transition: .2s;
  border-radius: 4px;

  &:hover {
    background-color: $flag-hover-color;
    color: $flag-hover-bg-color;
    border: 2px solid $flag-hover-bg-color;
    border-radius: 4px;
  }
}

.pressed {
  background-color: $flag-color;

  i {
    color: $flag-hover-bg-color;
  }

  &:hover {
    color: darken($flag-pressed, 10%);
    border: 2px solid $flag-pressed;
    border-radius: 4px;
  }
}


//======== O V E R V I E W    P A G E ========//
#overview_page {
  display: none;
  margin: 0 auto;
}

.overview_page_table {
  width: 100%;
  border: 2px solid $black;

  th, td {
    border: 1px solid $black;
    padding: 10px;
  }

  .question_id {
    width: 50px;
  }

  .question_column {
    width: 1000px;
  }

  tr:hover {
    cursor: pointer;
    color: rgba(15,0,40, 0.8);

    .btn {
      background: $primary-button-hover;
    }
  }

  .glyphicon {
    top: auto;
    display: table-cell;
    text-align: center;

    .glyphicon-arrow-left {
      color: $black;
    }

    &-flag:before {
      color: $flag-pressed;
    }

    &-remove:before {
      color: rgba(198, 56, 6, 1);
    }

    &-ok:before {
      color: $primary-button;
    }
  }
}

.return-to-question {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $primary-button;
  color: $primary-button-font;
  pointer-events: none;
}

.overview_footer .col-md-4 {
  margin-top: 50px;
}

.overview_footer p {
  text-align: center;
  color: $primary-button-hover;
  display: block;
}

.finish {
  width: 100%;
  margin: 20px 0;
  background-color: $energyGreen;
  color: $black;
  transition: color .5s;
  @include buttonsMetaFontStyles;
  font-size: 2em;

  &:hover {
    color: $white;
  }
}

.footer-row {
  display: flex;
  justify-content: center;
}

.unanswered-nav-box {
  background-color: $unanswered-color;
}

.answered-nav-box {
  background-color: $answered-color;
  p {
    color: $font-color;
  }
}

.question-nav .current-nav-box {
  border: 1px solid $question-nav-border;
  padding: 7px 0 31px;
}

#warningModal {
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  p {
    font-size: 2rem;
  }
  h5 {
    font-size: 3rem;
  }
}