@import "imports/variables";
@import "imports/modal";

.container {
    text-align: center;
}

.question {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    text-align: left;
    display: none;
}

.question-container {
    height: 100%;
}

.question-nav {
    height: 60px;
    margin: 20px 0 20px 0;
    background-color: #ffffff;
}

.question-nav div {
    width: 25px;
    padding: 20px 0;
    display: inline-block;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.question-nav p {
    display: inline;
}

.active {
    display: block;
}

img {
    max-width: 100%;
}

.answers input {
    margin: 0 10px;
}

.prev {
    display: none;
    width: 60%;
    margin: 50px auto;
}
.next {
    width: 60%;
    margin: 50px auto;
}

.finish {
    width: 50%;
    margin: 50px 0;
}

.error_message {
    text-align: center;
    font-size: large;
}

.unanswered-nav-box {
    background-color: $unanswered-color;
}

.answered-nav-box {
    background-color: $answered-color;
}

.question-nav .current-nav-box {
    border: 1px solid #000000;
    padding: 19px 0;
}