@import "imports/variables";

.container {

  .container_input {
    float: left;
    margin: 20px;

    .btn {
      margin: 5px;
    }

    .display-flex {
      display: flex;
      align-items: center;

      input {
        margin-right: 1rem;

        &.primary-button {
          font-size: 1.4rem;
          color: $main-background-color;
        }
      }
    }
  }

  .table {
    font-size: 1.5rem;

    .edit-question-button, .delete-question-button {
      color: $main-background-color;
    }

    .edit-question-button {
      background-color: $edit-button;
    }

    .delete-question-button {
      background-color: $primary-button-hover;
    }

    &.question-table {
      margin-top: 4rem;

      tbody {
        tr {
          td {
            vertical-align: middle;
          }
        }
      }
    }
  }
}

.new-question-container {
  margin-top: 3rem;
  display: flex;
  height: 150px;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 500;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
}

#modal {
  display: none;
  background: #ffffff;
  width: 1200px;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  z-index: 501;
}
