@import "imports/variables";
@import "imports/modal";
@import "imports/logos";
@import 'imports/buttons';



.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.container {
    text-align: center;
}

.question-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin: 0;
    height: 32px;
    border-bottom: 1px solid $grey2-color;
}

.question-header h3, .question-header h4, .question-header label {
    display: inline-block;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2rem;
    margin: 0;
}

.question {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    padding: 30px;
    text-align: left;
    display: none;
}

.question-container {
    height: 100%;
}

.question-nav {
    margin: 0;
    background-color: #ffffff;
}

.top-row {
    margin: 50px -15px 0;
}

.question-nav div {
    position: relative;
    width: 25px;
    padding: 6px 0;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.flag {
    color: #2b2c2c;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translate(-50%);
}

.question-nav p {
    display: inline;
}

.active {
    display: block;
}

img {
    max-width: 100%;
}

.answers input {
    margin: 0 10px;
}

.prev {
    display: none;
    width: 60%;
    margin: 0;

}
.next {
    width: 60%;
    margin: 0 0 0;
}

.finish {
    width: 50%;
    margin: 50px 0;
}

.error_message {
    text-align: center;
    font-size: large;
    position: absolute;
    bottom: 0;
    z-index: 10;
    color: $error-message;
}

#flag-checkbox {
    width: 20px;
    height: 20px
}

#flag-label {
    font-size: 2rem;
}

.unanswered-nav-box {
    background-color: $unanswered-color;
}

.answered-nav-box {
    background-color: $answered-color;
}

.unanswered-nav-box:hover,.answered-nav-box:hover {
    background-color: #f2f2f2;
    color: #2b2c2c;
}

.question-nav .current-nav-box {
    border: 1px solid #000000;
    padding: 5px 0;
}
