@import 'imports/logos';
@import 'imports/variables';

html {
  font-size: 62.5%;
}

body {
  background-color: #d7d6d4;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

#result_page {
  display: none;
}

.result_card {
  background-color: #fff;
  margin: 20px auto;
  width: 600px;
  height: 450px;
}

.greetings {
  height: 100px;

   p {
     display: inline-block;
     width: 100%;
     text-align: center;
     line-height: 120px;
     background-color: rgba(255, 255, 255, 0.9);
     color: $tealblue6-color;
     font-size: 4rem;
     font-weight: bold;
     letter-spacing: 1px;
   }
}

.result {
  padding: 0 50px 70px;
  display: flex;
  justify-content: space-around;
  position: relative;

  .points {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    border: .25px solid $result-table-border;

    .points_label {
      height: 70px;
      width: 100%;
      background-color: $tealblue6-color;
      h3 {
        margin: 0;
        line-height: 70px;
        text-align: center;
        color: #fff;
      }
    }

    .points_number {
      height: 180px;
      width: 100%;

      p {
        line-height: 180px;
        text-align: center;
        font-size: 2rem;
        color: $green4-color;

        span {
          font-size: 7rem;
        }
      }
    }
  }

  .percentage {
     @extend .points;
     border-left: none;
     border-right: none;

     .percentage_label {
       @extend .points_label;
     }

     .percentage_number {
       @extend .points_number;
     }
   }

  .answered {
    @extend .points;

    .answered_label {
      @extend .points_label;
    }

    .answered_number {
      @extend .points_number;
    }
  }
}

.logo-bottom {
  width: 100%;
}

.logo_row {
  background-color: #fff;
}