@import "imports/variables";
html {
  font-size: 62.5%;
}

body {
  background-color: $main-background-color;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

#result_page {
}

.result_card {
  background-color: #fff;
  margin: 50px auto;
  width: 700px;
  height: 700px;
  border: 2px solid $primary-button;
  padding: 50px;
}

.greetings {
  text-align: center;

   p {
     display: inline-block;
     width: 100%;
     text-align: center;
     color: $primary-button;
     font-size: 4rem;
     font-weight: bold;
     letter-spacing: 1px;
   }
}

.result {
  display: flex;
  justify-content: space-around;

  .points {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    border: 2px solid $primary-button;

    .points_label {
      height: 70px;
      width: 100%;
      background-color: $results-headings;

      h3 {
        margin: 0;
        line-height: 70px;
        text-align: center;
        color: #fff;
      }
    }

    .points_number {
      height: 180px;
      width: 100%;

      p {
        line-height: 180px;
        text-align: center;
        font-size: 2rem;
        color: #94ba66;

        span {
          font-size: 7rem;
        }
      }
    }
  }

  .percentage {
     @extend .points;

     .percentage_label {
       @extend .points_label;
     }

     .percentage_number {
       @extend .points_number;
     }
   }

  .answered {
    @extend .points;

    .answered_label {
      @extend .points_label;
    }

    .answered_number {
      @extend .points_number;
    }
  }

}