@import "imports/variables";

html {
  font-size: 62.5%;
  font-family: asap, sans-serif;
}

body {
  background-color: $main-background-color;
  font-size: 14px;
  font-size: 1.4rem;
}

#result_page {
  display: none;
}


.result_card {
  background-color: #fff;
  margin: 0 auto 10px auto;
  width: 700px;
}

.greetings {
  text-align: center;

  p {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: $font-color;
    font-size: 4rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}

.result {
  display: flex;
  justify-content: space-around;
  height: 250px;

  .points {
    display: inline-block;
    padding: 0;
    background-color: #fff;
    border: 2px solid black;
    margin: 4px;

    .points_label {
      height: 70px;
      width: 100%;
      background-color: $results-headings;

      h3 {
        margin: 0;
        line-height: 70px;
        text-align: center;
        color: #fff;
      }
    }

    .points_number {
      height: 180px;
      width: 100%;

      p {
        line-height: 180px;
        text-align: center;
        font-size: 4rem;
        color: #94ba66;

        span {
          font-size: 7rem;
        }
      }
    }
  }

  .percentage {
    @extend .points;

    .percentage_label {
      @extend .points_label;
    }

    .percentage_number {
      @extend .points_number;
    }
  }

  .answered {
    @extend .points;

    .answered_label {
      @extend .points_label;
    }

    .answered_number {
      @extend .points_number;
    }
  }

}