.container {
  text-align: center;

  .user_list {
    padding: 20px;
  .btn_height {
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 1px;
    padding-right: 1px;
  }
  }

  .score_list {
    padding: 20px;

    .score_item{
      border: 1px solid #000000;
    }

  }

  img {
    width: 100%;
  }

  p {
    display: inline;
    margin: 10px;
  }
}

