.container {
  text-align: center; }
  .container .user_list {
    padding: 20px; }
  .container .score_list {
    padding: 20px; }
    .container .score_list .score_item {
      border: 1px solid #000000; }
  .container img {
    width: 100%; }
  .container p {
    display: inline;
    margin: 10px; }
