.container {
  text-align: center; }
  .container .user_list {
    padding: 20px; }
    .container .user_list .btn_height {
      padding-bottom: 0;
      padding-top: 0;
      padding-left: 1px;
      padding-right: 1px; }
  .container .score_list {
    padding: 20px; }
    .container .score_list .score_item {
      border: 1px solid #000000; }
  .container img {
    width: 100%; }
  .container p {
    display: inline;
    margin: 10px; }

#modal {
  position: absolute;
  width: 800px;
  display: none;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black;
  z-index: 1;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.4); }
  #modal .close {
    float: right; }
