<label class="editUserData">Change category name</label>
        <select id="changeCategory" class="editUserData" name="categoryName">
            {{#each data}}
                    <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>