{{#each data}}
    <div class="categoryItem list-group-item">
        <p>{{name}}</p>
        {{#ifNotEquals id "1"}}
            <button class="deleteCategory primary-button btn btn_height" data-id="{{this.id}}">Delete category</button>
        {{/ifNotEquals}}
    </div>
{{/each}}