{{#each data}}
    <div class="categoryItem">
        <p>{{name}}</p>
        {{#ifEquals id "1"}}
            <button class="deleteCategory primary-button btn btn_height" data-id="{{this.id}}">Delete Category</button>
        {{/ifEquals}}
    </div>
{{/each}}