<option value="" disabled selected class="noDisplayOption">Category</option>
<option value="" data-id="0" class="noDisplayOption">-none-</option>
{{#each data}}
    <option data-id="{{id}}" data-name="{{name}}" value="{{id}}">{{name}}</option>
{{/each}}