<div class="deleteModal">

    <h4 class="delete-message">Are you sure you want to delete this user?</h4>

    <div class="message-target">
        <div id="modal_error" class="alert title_input text-wrap" role="alert"></div>
    </div>

    <button class="primary-button" id="confirmDelete" data-id="{{userId}}">Yes</button>
    <button class="primary-button" id="cancelDelete">No</button>
</div>