<div class="editmodal" dataId="{{id}}">
    <input id="firstName" type="text" name="firstName" value="{{name}}">
    <input id="email" type="text" name="email" value="{{email}}">
    <button id="editSubmit">Submit changes</button>
</div>