<button class="backBtn pageBtn">&lt;&lt;&lt;</button>
{{#each pages}}
    <button class="pageNumber pageBtn" data-page="{{this.pageNumber}}">{{this.pageNumber}}</button>
{{/each}}
<button class="nextBtn pageBtn">&gt;&gt;&gt;</button>