<button class="backBtn pageBtn" data-page='back'>&lt;&lt;&lt;</button>
{{#each pages}}
    <button class="pageNumber pageBtn" data-page="{{this.pageNumber}}">{{this.pageNumber}}</button>
{{/each}}
<button class="nextBtn pageBtn" data-page='next'>&gt;&gt;&gt;</button>