<button class="backBtn pageBtn btn primary-button" data-page='back'>&lt;&lt;&lt;</button>
{{#each pages}}
    <button class="pageNumber pageBtn btn primary-button" data-page="{{this.pageNumber}}">{{this.pageNumber}}</button>
{{/each}}
<button class="nextBtn pageBtn btn primary-button" data-page='next'>&gt;&gt;&gt;</button>