{{#each data}}
    <tr>
    <td data-id="{{id}}" data-question="{{text}}" class="btnContainer">
        <button class="btn btn_height edit-question">Edit</button>
        <button class="btn btn_height delete-question">Delete</button>
    </td>
    <td class="questionNumber">{{this.id}}</td>
    <td class="questionText">{{this.text}}</td>
    </tr>
{{/each}}