<table class="table">
    <thead>
    <tr class="d-flex">
        <th scope="col" class="col-1">Category</th>
        <th scope="col" class="col-2">Percentage</th>
    </tr>
    </thead>
    <tbody>
    {{#each this}}
        <tr>
            <td>{{category}}</td>
            <td>{{percentage}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>