<div class="entry">
    <div class="user_item">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <button type="button" class="btn btn-danger btn-height">Delete entry?</button>
    </div>
</div>