<div class="entry">
    <div class="user_item">
        <p class="name">Name: {{name}}</p>
        <p class="email">Email: {{email}}</p>
        <button class="btn btn-success" id="edit-btn">Edit User</button>
    </div>
</div>